# Ignore build directories
bin/
obj/

# Ignore solution and user-specific files
*.sln
*.csproj.user

# Ignore compiled output
*.exe
*.dll

# dafny genreated files 🙏
*.pdb
*.runtimeconfig.json
*.cs
*.csproj
*.deps.json


